*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('2023-09-28.png');
    background-size: cover;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}
fieldset{
    margin: auto;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
.first-form{
    margin-top: 5vh;
    margin-left: 5vh;
    font-size: 3vh;
}
.first-form input{
    height:2.5vh;
    width: 30vh;
    background-color: white;
}
.submit input{
    font-size: 2vh;
    height:3vh;
    width: 15vh;
    padding: 2px;
    background-color: white;
}
.table{
    margin-right: 10vh;
    font-size: 2vh;
}
th , td{
    padding: 2px;
}
legend{
    font-size: 3vh;
    margin-left: 5vh;
}
.submit2{
    text-align: center;
    margin: 5vh 0 3vh 0;
}
.submit2 input{
    background-color: white;
    height: 3vh;
    width: 15vh;
    font-size: 2vh;
}
.table {
    width: 100%;
    border-collapse: collapse;
}

/* Style the table header */
.table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

/* Style the table rows */
.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #63bd92;
}

/* Style the table cells */
.table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

