<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    
    <style>
       
    </style>
</head>
<body>
    
    <div class="buttons">
        <a href="/index1"><b>Books</b></a>
        <a href="/index2"><b>Search Book</b></a>
        <a href="/index3"><b>Issued Books</b></a>
        
    </div>
    <div class="buttons1">
        <a href="/index4"><b>Update Book</b></a>
        <a href="/index5"><b>Delete Book</b></a> 
            
    </div>
  
    
    </body>
</html>